.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom:1rem;
   @media (min-width: 769px) {
    flex-shrink: 0;
    width: 100%;
    max-width: 400px;
   }
   .imageLogo{
    margin-inline: auto;
    width: 100%;
    height: 100%;
    max-width:200px;
    max-height: 178px;
    border-radius: 10px;
    @media (min-width: 769px) {
      max-width: 400px;
      max-height: 178px;
    }
  }
  .form{
    display:none;
    @media (min-width:789px){
      display:flex
    }
  }
}